<ul id="nav-mobile" class=" hide-on-med-and-down">
    <%- include('nav-items') %>
    <li><a href="#" class="dropdown-trigger" data-target="settings-menu"><i class="material-icons">more_vert</i></a></li>
</ul>

<!-- Dropdown Structure -->
<ul id='settings-menu' class='dropdown-content'>
    <%- include('nav-settings') %>>
    <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
</ul>