<li><a href="/settings-verein"><i class="material-icons left">settings</i>Verein</a></li>
<li><a href="/profil"><i class="material-icons left">account_circle</i>Profil</a></li>
<li><a href="/notifications"><i class="material-icons left">notifications_active</i>Benachrichtigungen</a></li>
