<li><a href="/dashboard"><i class="material-icons left">home</i>Startseite</a></li>
<li><a href="/aktuelles"><i class="material-icons left">dashboard</i>Aktuelles</a></li>
<li><a href="/termine"><i class="material-icons left">event_note</i>Termine</a></li>
<li><a href="/arbeitsstunden"><i class="material-icons left">timelapse</i>Arbeitsstunden</a></li>
<li><a href="/mitglieder"><i class="material-icons left">person</i>Mitglieder</a></li>
<li><a href="/gruppen"><i class="material-icons left">group</i>Gruppen</a></li>
