<!-- Sidebar  -->
<nav id="sidebar" >
    <div class="sidebar-header text-center">
        <%- include('../../components/avatar/avatar', {src: user.img}); %>
        <h3><%= user.firstname%> <%= user.lastname%></h3>
    </div>
    <ul class="list-group">
        <li class="nav-item"><a href="/dashboard"><i class="material-icons left">home</i>Startseite</a></li>
        <li class="nav-item"><a href="/aktuelles"><i class="material-icons left">dashboard</i>Aktuelles</a></li>
        <li class="nav-item"><a href="/termine"><i class="material-icons left">event_note</i>Termine</a></li>
        <li class="nav-item"><a href="/arbeitsstunden"><i class="material-icons left">timelapse</i>Arbeitsstunden</a></li>
        <li class="nav-item"><a href="/mitglieder"><i class="material-icons left">person</i>Mitglieder</a></li>
        <li class="nav-item"><a href="/gruppen"><i class="material-icons left">group</i>Gruppen</a></li>

        <hr>

        <li class="nav-item"><a href="/settings-verein"><i class="material-icons left">settings</i>Verein</a></li>
        <li class="nav-item"><a href="/profil"><i class="material-icons left">account_circle</i>Profil</a></li>
        <li class="nav-item"><a href="/notifications"><i class="material-icons left">notifications_active</i>Benachrichtigungen</a></li>

        <li><a href="/logout" class=" btn btn-primary btn-lg white-text">Logout</a></li>

        <li class="nav-item installButton"><a href="#"><i class="material-icons left">add_to_home_screen</i>Vereinsleben.app installieren<br>
                <span>Für ein schnelleres Erlebnis und um viele Funktionen auch offline nutzen zu können.</span></a></li>
    </ul>
</nav> <!-- #sidebar -->
