<div class="row">
    <div id="user-worked-container" class="col-sm-12 col-lg-4"><%- include('user-worked-tasks')%></div>
    <div id="accepted-tasks-container" class="col-sm-12 col-lg-4"><%- include('user-registered-tasks')%></div>
    <div id="available-tasks-container" class="col-sm-12 col-lg-4"><%- include('available-tasks')%></div>
</div>

<script>
    $('.done').on('click', function (e) {
        if(navigator.onLine) {
            let taskId = $(e.target).attr('data-task-id');
            let form = $(e.target).parent();
            let formData = form.serialize();
            let worked = $('input[name=workedHours]').val();

            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: formData,
                success: () => {
                    $.snackbar({content: 'Danke für Deine Unterstützung!', style: 'toast'});
                    setTimeout(() => { $(location).attr('href', "/arbeitsstunden") }, 800);
                }
            })
        } else {
            offlineHint();
        }
    })

    function cancel(elem, taskId) {
        if(navigator.onLine) {
            if (window.confirm("Möchtest Du Dich wirklich von der Aufgabe austragen?")) {
                $.ajax({
                    url: '/task-cancel?id='+taskId,
                    type: 'PUT'
                })

                let par = parseInt($('#participants-'+taskId).text()) - 1;
                $('#participants-'+taskId).text(par);

                $.snackbar({content: 'Du hast Dich erfolgreich ausgetragen.', style: 'toast'});
                setTimeout(() => { $(location).attr('href', "/arbeitsstunden") }, 800);
            }
        } else {
            offlineHint();
        }
    }

    function accept(elem, taskId) {
        if(navigator.onLine) {
            $.ajax({
                url: '/task-inscribe?id='+taskId,
                type: 'PUT'
            })
            $.snackbar({content: 'Du hast Dich für eine Aufgabe eingetragen.', style: 'toast'});
            setTimeout(() => { $(location).attr('href', "/arbeitsstunden") }, 800);
        } else {
            offlineHint();
        }
    }
    $('.edit-button').on('click', function() {
        offlineHint();
    })
</script>
