<div class="row">
    <div class="col-sm-4 col-md-4"><%- include('user-worked-tasks')%></div>
    <div class="col-sm-4 col-md-4"><%- include('user-registered-tasks')%></div>
    <div class="col-sm-4 col-md-4"><%- include('available-tasks')%></div>
</div>
