<div class="card">
    <div class="card-body">
        <h2>Trage Dich für Arbeitsstunden ein</h2>
    </div>

    <% if(tasks) {
        tasks.forEach(task => {
            let flag = true

            if(task.participants) {
                task.participants.forEach( i => {
                    flag = (i==user._id) ? false : true
                })
            }
            if(flag) {%>
                <%- include('task', {task, 'inscribed':false}) %>
            <%}
        }) %>
    <%}%>


</div>