<a href="#" class="list-group-item list-group-item-action flex-column align-items-start task">
    <div class="d-flex w-100 justify-content-between">
        <h6>List group item heading</h6>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <p>Geschätzter Aufwand (Std./Person):</p>
        <span class="">4</span>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <p>Bereits eingetragen:</p>
        <span class="">1/4</span>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <p>Termin:</p>
        <span class="">12.05.2020 | 12:00 Uhr</span>
    </div>
    <div class="task-btn-container text-right">
        <% if(inscribed) {%>
            <button type="button" class="btn btn-secondary btn-sm">Absagen</button>
            <button type="button" class="btn  btn-primary btn-sm">Aufgabe erledigt?</button>
        <% } else {%>
                <button type="button" class="btn btn-sm btn-primary-text">Aufgabe übernehmen</button>
            <% }%>
    </div>
</a>