<div class="card">
    <div class="card-body">
        <h2>Deine Arbeitsstunden</h2>
    </div>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start task">
            <div class="d-flex w-100 justify-content-between">
                <p>Bereits geleistete Stunden:</p>
                <span class="">3,5</span>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <p>Offene Stunden:</p>
                <span class="">6,5</span>
            </div>
    </a>
</div>