<div class="card">
    <div class="card-body">
        <h2>Übernommene Aufgaben</h2>
    </div>

    <% if(tasks) {
        tasks.forEach(task => {
            if(!task.done && task.participants) {
                task.participants.forEach( i => {
                    if(i == user._id) {  %>
                        <%- include('task', {task, 'inscribed':true}) %>
                    <%}
                })
            }
        }) %>
    <%}%>

</div>
