<%- include('partials/header/header') %>
<main class="container-fluid edit-page">

    <nav class="navbar sticky-top navbar-dark bg-primary row">
        <div class="container-left">
            <a type="button" class="close btn" href="/aktuelles">
                <span class="material-icons">close</span>
            </a>
            <h3>Erstelle einen neuen Beitrag</h3>
        </div>
    </nav>

    <div id="editorContainer">

        <form method="post" action="/addNews" id="addNewsForm" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <!-- Datei hochladen-->
                    <div id="newsImgContainer" class="custom-file">
                        <input type="file" class="form-control" id="newsImg" name="newsImg" lang="de" accept="image/*">
                        <label class="custom-file-label" for="newsImg">Wähle ein Titelbild...</label>
                        <small>Das Titelbild ist optional und wird über dem Beitrag angezeigt.</small>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="prevTeaserImage hidden">
                        <img id="teaserImg" src="" alt="your image" />
                    </div>
                    <button id="cancelNewsImage" type="button" class="btn btn-danger hidden col-12" >Bild entfernen</button>
                </div>
            </div>


            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="newsTitle" name="newsTitle" placeholder="Überschrift" required>
            </div>

            <div class="form-group">
                <textarea class="form-control" id="newsText" name="newsText" required></textarea>
            </div>

            <div class="checkbox">
                <label for="newsReleased">
                    <input type="checkbox" id="newsReleased" name="newsReleased"> Veröffentlichen
                </label>
            </div>

            <button id="submitButton" type="submit" class="btn btn-primary">Speichern</button>
        </form>
    </div>
</main>

<script src="https://cdn.tiny.cloud/1/zyqy6bq7l0jcdzh89nk09o0jurkuy5e8anxya0zqq0a9ir24/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    $('#newsReleased').on('change', function(){
        cb = $(this);
        cb.val(cb.prop('checked'));
    });

    tinymce.init({
        selector: "textarea#newsText",
        skin: "bootstrap",
        plugins: "lists, link",
        toolbar:
            "h1 h2 bold italic bullist numlist backcolor | link | removeformat",
        menubar: false,
        language:'de',
        setup: editor => {
            editor.on("init", () => {
                editor.getContainer().style.transition =
                    "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
            });
            editor.on("focus", () => {
                (editor.getContainer().style.boxShadow =
                    "0 0 0 .2rem rgba(10,82,19, .25)"),
                    (editor.getContainer().style.borderColor = "#0a5213");
            });
            editor.on("blur", () => {
                (editor.getContainer().style.boxShadow = ""),
                    (editor.getContainer().style.borderColor = "");
            });
            editor.on('change', () => {
                editor.save();
            })
        }
    });
</script>

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                $('#teaserImg').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Dateiname in header
    $("#newsImg").on("change", function() {
        let fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

        $('.prevTeaserImage').removeClass('hidden');
        $('#cancelNewsImage').removeClass('hidden');
        readURL(this);
    });

    $("#cancelNewsImage").on("click", function() {
        $("#newsImg").val('').siblings(".custom-file-label").removeClass("selected").html('Wähle ein Titelbild...');

        $('.prevTeaserImage').addClass('hidden');
        $('#cancelNewsImage').addClass('hidden');
    });

    // Dateiname in file input
    $("#customFile").on("change", function() {
        let fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    if(!navigator.onLine) {
        $('input').attr('readonly', '');
        $('textarea').attr('readonly', '');
        $('#submitButton').addClass('hidden');
        $('#editorContainer').prepend('<div class="alert alert-danger" role="alert">Du bist offline! Die Bearbeitungsfunktion steht Dir nur online zur Verfügung.</div>')
    }
</script>

<%- include('partials/footer/footer') %>
