<%- include('partials/header/header') %>
<main>
    <%- include('components/aktuelles/aktuelles.ejs') %>
    <a class="btn btn-primary btn-primary-fab" href="add-news" role="button">
        <i class="material-icons">add</i>
    </a>
</main>
<%- include('partials/footer/footer') %>



