<%- include('partials/header/header_with_navigation') %>
<main>
    <%- include('components/arbeitsstunden/arbeitsstunden.ejs') %>

    <% if(user.role === 'admin') {%>
        <a class="btn btn-primary btn-primary-fab" href="add-task" role="button">
            <i class="material-icons">add</i>
        </a>
    <% } %>
</main>

<%- include('partials/footer/footer') %>