<%- include('partials/header/header_with_navigation') %>
<main>

    <div class="card">
        <div class="card-header text-center">
            <h1 class="display-4 greeting"><span id="greeting">Hallo</span> <%= user.firstname %>, <br>schön das du da bist!</h1>
        </div>
    </div>


</main>


<script>
    var hours = new Date().getHours();

    if(hours < 11) {
        $('#greeting').text('Guten Morgen');
    } else if(hours > 17) {
        $('#greeting').text('Guten Abend');
    }
</script>
<%- include('partials/footer/footer') %>

