<%- include('partials/header/header') %>
<!-- Editorjs load from CDN -->
<script defer src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>
<script defer src="/assets/js/simple-image.js"></script>
<script defer src="/assets/js/news-edit.js"></script>

<div id="editorjs"></div>

<button id="save-button">Save</button>
<pre id="output"></pre>