<%- include('partials/header/header') %>
<script src="../assets/js/memberTable.js"></script>

<main>
    <div class="card tableContainer">
        <table id="userTable" class="display dt-responsive nowrap" width="100%" data-page-length="25">
            <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Mobil</th>
                <th>Telefon</th>
                <th>E-Mail</th>
                <th>Geburtstag</th>
                <th>Arbeitsstunden</th>
                <th>Mitglieds-Nr.</th>
                <th>Rechte</th>
                <th>registriert seit</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</main>

<%- include('../assets/datatables/dataTablesImport') %>
<%- include('partials/footer/footer') %>