<div>

    <% for(var i=0; i < users.length; i++) { %>
    <div class="">
            <div class="fh5co-listing-copy">
                <h2>
                    <%= users[i].firstname%> <%= users[i].lastname%>
                </h2>
                <p><%= users[i].email%></p>
                <span class="icon">
                    <i class="icon-chevron-right"></i>
                </span>
            </div>
    </div>

    <% } %>

</div>