<nav class="navbar sticky-top navbar-dark bg-primary modal-nav">
    <div class="container-left">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="material-icons">close</span>
        </button>
        <h3>Erstelle einen neuen Beitrag</h3>
    </div>
    <button id="save-button" type="button" class="close btn" data-dismiss="modal" aria-label="Close">
        <span class="material-icons">check</span>
    </button>
</nav>

<div class="modal-body">
    <div id="editorjs"></div>
</div>
<div class="modal-footer">
</div>
