<nav class="navbar sticky-top navbar-dark bg-primary modal-nav">
    <div class="container-left">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="material-icons">close</span>
        </button>
        <h3>Profilbild 채ndern</h3>
    </div>
    <button id="saveProfilImage" type="button" class="close btn">
        <span class="material-icons">check</span>
    </button>
</nav>

<div class="modal-body">
    <div class="imageContainer " style="margin: 2em auto;">
        <img id="profilbild" src="<%= (user.img) ? user.img : '' %>" alt="your image" />
    </div>
    <form action="/profilimage" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <fieldset class="form-group col">
                <label for="profilbildInput" class="btn btn-outline-light">Bild ausw채hlen</label>
                <input id="profilbildInput" name="image" type="file" accept="image/*">
            </fieldset>
        </div>
        <button type="submit" class="btn waves-effect waves-light btn-large hidden">Hochladen</button>
    </form>
</div>
<div class="modal-footer">
</div>


<!--
<nav class="navbar sticky-top navbar-dark bg-primary modal-nav">
    <div class="container-left">
        <button type="button" class="close btn btn-lg" data-dismiss="modal" aria-label="Close">
            <span class="material-icons">cancel</span>
        </button>
        <h3>Profilbild ausw채hlen</h3>
    </div>
    <button type="button" class="saveProfilImage" data-dismiss="modal" aria-label="Save">
        <span class="material-icons">check</span>
    </button>
</nav>
<div class="modal-body">

    <form action="/profilimage" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <fieldset class="form-group col">
                <label for="profilbildInput">W채hle ein Bild aus</label>
                <input id="profilbildInput" name="image" type="file" accept="image/*">
            </fieldset>
        </div>
        &lt;!&ndash;                    <button type="submit" class="btn waves-effect waves-light btn-large">Hochladen</button>&ndash;&gt;
    </form>
    <div class="imageContainer hidden" style="margin: 0 auto;">
        <img id="profilbild" src="#" alt="your image" />
    </div>
</div>-->
