<% if(article.newsType != "text") {%>
    <div class="modal-image-header">
        <img class="card-img" alt="Card image" src="../../../assets/images/<%= article.newsImg %>" >
    </div>
<% } %>
<div class="modal-header">
    <h5 class="modal-title"><%= article.newsTitle %></h5>
</div>
<div class="modal-body">
    <p class="small">Aktuelles vom <span class="datum" del-date="<%= article.createdAt.$date %>"></span></p>
    <div class="newsText"><%= article.newsText %></div>


</div>
<div class="modal-footer">
    <!-- Edit Button hier einfügen-->
</div>