<nav class="navbar sticky-top navbar-dark bg-primary modal-nav">
    <div class="container-left">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="material-icons">arrow_back</span>
        </button>
        <h3>Aktuelles</h3>
    </div>
</nav>
<% if(article.hasOwnProperty('newsImg')) {%>
    <div class="modal-image-header">
        <img class="card-img" alt="Card image" src="<%= article.newsImg %>" >
    </div>
<% } %>
<div class="modal-header">
    <h5 class="modal-title"><%= article.newsTitle %></h5>
</div>
<div class="modal-body">
    <p class="card-text">Aktuelles vom <span class="datum" del-date="<%= article.createdAt %>"></span></p>
    <div class="newsText"><%- article.newsText %></div>


</div>
<div class="modal-footer">
    <!-- Edit Button hier einfügen-->
</div>