<div class="modal fade fullsize" id="workhoursModal" tabindex="-1" role="dialog" aria-labelledby="workhoursLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <nav class="navbar sticky-top navbar-dark bg-primary modal-nav">
                <div class="container-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="material-icons">arrow_back</span>
                    </button>
                    <h3>Arbeitsstunde</h3>
                </div>
            </nav>
            <div class="modal-header">
                <h4 class="modal-title text-primary"><%= article.newsTitle %></h4>

                <% if(user.role === 'admin') {%>
                    <a class="btn btn-primary-text" href="edit-news?id=<%= article._id%>">
                        <i class="material-icons">edit</i>
                    </a>
                <% } %>

            </div>
            <div class="modal-body">
                <p class="card-text">Aktuelles vom <span class="datum" del-date="<%= article.createdAt %>"></span></p>
                <div class="newsText"><%- article.newsText %></div>
            </div>
            <div class="modal-footer">
                <!-- Edit Button hier einfügen-->
            </div>
        </div>
    </div>
</div>
