:root {
    --primary: rgb(10,82,19);
    --custom-bg-color: rgb(249,244,232);
    --custom-primary-color: rgb(10,82,19);
    --custom-primary-color-raw: 10,82,19;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
    background-color: var(--custom-bg-color);
    font-size: 14px;
}

h1, h2, h3, h4, h5, strong {
    font-weight: 400;
}

h1 {
    font-size: 1.75em;
    margin-bottom: 1.25em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}



main {
    margin: 5em auto 0 auto;
}

a, a:focus {
    color: var(--custom-primary-color);
    display: inline-block;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #000;
}

/*** Button ***/
.btn-primary {
    background-color: var(--custom-primary-color);
    color: #fff;
}
.is-focused [class*=" bmd-label"],
.is-focused [class^=bmd-label] {
    color: var(--custom-primary-color);
}

/*** Header ***/
.branding {
    display: flex;
    align-items: center;
    margin: 0 1em;
}
.branding figure {
    margin: 1em ;
}
.branding h1{
    font-size: 1.45em;
    color: white;
    margin: 0;
}

/*** Navigation ***/
nav {
    background: var(--custom-primary-color);
    line-height: inherit;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: auto;
        line-height: inherit;
    }
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*** Forms ***/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--custom-primary-color);
    box-shadow: 0 1px 0 0 var(--custom-primary-color);
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: var(--custom-primary-color);
}

.input-field .helper-text {
    display: none;
}

.input-field  input:focus + label + .helper-text {
    display: block;
}

input[type=email]:not(.browser-default).invalid ~ .helper-text[data-error] {
    display: block;
}

/*** Pages ***/
main.login,
main.register{
    max-width: 400px;
    margin: 0 auto;
}
main.login>*:not(form){
    text-align: center;
}

h2.vereinsleben {
    margin: 1rem 0;
    font-size: 1.25em;
    font-weight: 600;
    color: var(--custom-primary-color);
}
img.avatar {
    width: 10em;
    border: 2px solid #fff;
}

img.avatar.small {
    width: 5em;
}



/** Bootstrap **/
.alert-danger {
    border: 1px solid #7f231c;
}