
:root {
    --primary-color: 10,82,19;
    --dark-grey: rgb(51,51,51);
    --custom-bg-color: rgb(249,244,232);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
    background-color: var(--custom-bg-color);
    font-size: 14px;
}

h1, h2, h3, h4, h5, strong {
    font-weight: 400;
}

h1 {
    font-size: 1.75em;
    margin-bottom: 1.25em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

hr {
    margin: .5rem 0;
    border-top: 1px solid #e9ecef;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    margin-bottom: 1em;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 320px;
    position: fixed;
    top: 0;
    left: -320px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 0;
    left: 0;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    position: relative;
    padding: 20px;
    background-color: var(--dark-grey);
    margin-bottom: 1em;
}

#sidebar .avatar {
    width: 96px;
}

#sidebar .sidebar-header h3 {
    font-size: 1.2em;
}

#sidebar .sidebar-header h3 {
    font-size: 1.2em;
}

#sidebar li.list-group-item {
    float: none;
    line-height: 48px;
    border: none;
    padding: 0;
}

#sidebar li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    margin: 0;
}

#sidebar li > a:hover {
    text-decoration: none;
    color: var(--primary);
}

#sidebar li > a > i,
#sidebar li > a > [class^="mdi-"],
#sidebar li > a li > a > [class*="mdi-"],
#sidebar li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 1em 0 0;
    width: 24px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar li > a.btn,
#sidebar li > a.btn-lg,
#sidebar li > a.btn-sm {
    margin: 10px 15px;
}

#sidebar li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#sidebar .installButton a {
    margin-top: 2em;
    height: auto;
    display: block;
    line-height: 1.5;
}

#sidebar .installButton a span{
    font-weight: normal;
}

#sidebar .installButton > a > i.material-icons{
    margin-bottom: 3em;
}

/* ---------------------------------------------------
    NAVIGATION
----------------------------------------------------- */
.navbar.bg-primary {
    color: #fff;
}

#Dashboard .navbar.bg-primary {
    box-shadow: none;
    padding-bottom: 0;
}

.navbar-brand {
    white-space: normal;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.navbar-brand img {
    margin-right: 1em;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav ul a:hover,
nav ul a:focus {
   color: #fff;
    text-decoration: none;
}

.dropdown-menu.settings {
    width: 15em;
}

.material-icons.left {
    margin-right: .5em;
}

#Dashboard .nav > li {
    display: none;
}

.quick-view .list-group.bmd-list-group-sm .list-group-item {
    padding: .5rem 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.quick-view .list-group.bmd-list-group-sm .list-group-item p {
    margin-bottom: 0.25em;
}

.quick-view .list-group-item :first-child {
    margin-right: 0;
}

.quickIcon a:hover {
    text-decoration: none;
}


.quickIcon a i {
    transition: all .5s ease-in-out;
}

.quickIcon a:hover i {
    font-size: 1.75em;
}

@media screen and (max-width: 1350px) {
    .navbar-collapse .nav-item {
        text-align: center;
    }
    .navbar-collapse .nav-item a {
        display: block;
    }
    .material-icons.left {
        margin-right: 0;
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .branding {
        max-width: 33vw;
    }
}

@media screen and (max-width: 550px) {
    .branding {
        max-width: 75vw;

    }
}
/* ---------------------------------------------------
    LINKS AND BUTTONS
----------------------------------------------------- */
a, a:focus {
    color: var(--primary);
    display: inline-block;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #000;
}

.btn, .btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn-primary {
    color: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus{
    color: var(--primary) !important;
}

.bmd-btn-fab.btn-primary:hover,
.bmd-btn-fab.btn-primary:focus{
    color:#fff !important;
}

.btn-primary-text {
    color: var(--primary);
    border: 1px solid transparent;
    font-weight: bold;
}

.btn-primary-text:hover,
.btn-primary-text:focus{
    border-color: var(--primary);
}

.bmd-btn-fab.btn-primary.custom-file-control:before, .btn-group-raised .btn-primary.custom-file-control:before, .btn-group-raised .btn.btn-primary, .btn-raised.btn-primary.custom-file-control:before, .btn.bmd-btn-fab.btn-primary, .btn.btn-raised.btn-primary,
.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus,
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}
.bmd-btn-fab.btn-primary.active.custom-file-control:before, .bmd-btn-fab.btn-primary.custom-file-control:active:before, .bmd-btn-fab.btn-primary.custom-file-control:focus:before, .bmd-btn-fab.btn-primary.custom-file-control:hover:before, .bmd-btn-fab.btn-primary.focus.custom-file-control:before, .btn-group-raised .btn-primary.active.custom-file-control:before, .btn-group-raised .btn-primary.custom-file-control:active:before, .btn-group-raised .btn-primary.custom-file-control:focus:before, .btn-group-raised .btn-primary.custom-file-control:hover:before, .btn-group-raised .btn-primary.focus.custom-file-control:before, .btn-group-raised .btn.btn-primary.active, .btn-group-raised .btn.btn-primary.focus, .btn-group-raised .btn.btn-primary:active, .btn-group-raised .btn.btn-primary:focus, .btn-group-raised .btn.btn-primary:hover, .btn-raised.btn-primary.active.custom-file-control:before, .btn-raised.btn-primary.custom-file-control:active:before, .btn-raised.btn-primary.custom-file-control:focus:before, .btn-raised.btn-primary.custom-file-control:hover:before, .btn-raised.btn-primary.focus.custom-file-control:before, .btn.bmd-btn-fab.btn-primary.active, .btn.bmd-btn-fab.btn-primary.focus, .btn.bmd-btn-fab.btn-primary:active, .btn.bmd-btn-fab.btn-primary:focus, .btn.bmd-btn-fab.btn-primary:hover, .btn.btn-raised.btn-primary.active, .btn.btn-raised.btn-primary.focus, .btn.btn-raised.btn-primary:active, .btn.btn-raised.btn-primary:focus, .btn.btn-raised.btn-primary:hover, .open>.bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn-group-raised .btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn-group-raised .btn.btn-primary.dropdown-toggle, .open>.btn-raised.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn.bmd-btn-fab.btn-primary.dropdown-toggle, .open>.btn.btn-raised.btn-primary.dropdown-toggle,.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: rgba(var(--primary-color),.85);
}

button:focus {
    outline: none;
    background-color: rgba(var(--primary-color),.55);
}

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(var(--primary-color),.85);
}

.fixed-action-btn .fab-backdrop {
    background-color: rgb(var(--primary-color));
}

button.btn.btn-primary.bmd-btn-fab {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

a.btn.btn-primary-fab{
    position: fixed;
    right: 1em;
    bottom: 1em;
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
    border-radius: 50%;
    width: 3.6em;
    height: 3.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------------
    Toast
 */
.snackbar.toast {
    background: none;
    backdrop-filter: none;
    box-shadow: none;
    border: none;
    margin: 1em;
}

.snackbar-content {
    text-align: center;
}

/* ---------------------------------------------------
    PURE CSS TABS AND TAB-CONTENT
----------------------------------------------------- */
.tab-container {
    background-color: var(--primary);
    color: #fff;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.hide {
    display: none;
}

.tab-content {
    padding:0 1em 1em 1em ;
}

#material-tabs {
    position: relative;
    display: block;
    padding:0;
    text-align: center;
}

#material-tabs>a {
    position: relative;
    display:inline-block;
    text-decoration: none;
    padding: .5em 1em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    outline: none;
    cursor: pointer;
    border-bottom: 4px solid transparent;

}

#material-tabs>a.active {
    font-weight: 600;
    outline:none;
    border-color: #fff;
}

#material-tabs>a:not(.active):hover {
    background-color: inherit;
    color: #7c848a;
}

@media only screen and (max-width: 520px) {
    .nav-tabs#material-tabs>li>a {
        font-size: 11px;
    }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1em;
}
main.standalone {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
main.standalone .inner{
    width: 400px;
}
main.standalone>*:not(.input-field){
    text-align: center;
}

.display-4.greeting {
    font-size: 1.5rem;
    margin-bottom: 0;
}

h2.vereinsleben {
    margin: 1em 0;
    font-size: 1.0em;
    font-weight: 600;
    color: var(--primary);
}

.teaser .avatar {
    max-width: 140px;
    width: 140px;
}

.branding .avatar {
    max-width: 4em;
}

img.avatar.small {
    width: 5em;
}

.navbar-brand img,
figure.teaser img{
    border: 2px solid #fff;
}

.profil-header figure.teaser {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em auto 2em auto;
    color: #ddd;
    height: 10em;
    max-height:810em;
    width: 10em;
    max-width: 10em;
    border-radius: 50%;
    transition: all .2s ease-in;
    overflow: hidden;
}

.profil-header figure.teaser:hover {
    cursor:pointer;
    box-shadow: 0 0 2em #666;
    background: var(--primary);
}

.profil-header figure img.avatar {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.profil-header figure span {
    padding: 1em;
}

input#profilbildInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#changeImageModal .modal-content {
    background: var(--dark-grey);
    text-align: center;
}

.dropdown-content {
    min-width: 240px;
}

.table td .edit-icons {
    width:6em;
    padding: 0;
}

.red-text {
    color: red;
}

.tableContainer {
    padding: 1em;
}

.quicklinks {
    margin: 2em auto;
    font-size: 1.5em;
}

.quicklinks .quickIcon a {
    margin: 0.5em;
}

.quicklinks .quickIcon a i {
    display: block;
}

@media screen and (max-width: 450px) {
    .quicklinks {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 350px) {
    .quicklinks {
        font-size: 1.0em;
    }
}


/*** News ***/
#Aktuelles .card:hover {
    cursor: pointer;
}

.card .align-bottom {
    bottom: 0;
    top: auto;
}

.card.image .card-body.col-md-6 {
    padding: 1.25rem calc(1.25rem + 15px);
}

.image-container {
    text-align: center;
}

.card-image,
.card-img {
    width: auto;
    max-height: 55vh;
    max-width: 100%;
    height: auto;
}

/*** Arbeitsstunde ***/
.task h6 {
    margin-bottom: 1em;
}
.task p {
    margin-bottom: .5em;
}

.list-group-item .task-btn-container {
    margin-top: .5rem;
}
.list-group-item .task-btn-container :first-child {
    margin-right: .5rem;
}

.list-group-item .task-btn-container button.btn-primary:hover {
    color: #fff !important;
}

.list-group-item .task-btn-container  button.btn-primary-text {
    margin-right: -.5rem;
}

.btn-primary-text:hover,
.btn-primary-text:focus{
    border-color: var(--primary);
    font-weight: normal;
    margin-right: 0;
}

.task-title{
    color:#0a5213 ;
}

.task-description {
    margin-bottom: 1.25em;
}

/*** Profil ***/
main.container-fluid {
    padding: 0 15px;
    max-width: 100%;
    width: auto;
}
.profil-header {
    background-color: var(--dark-grey);
    margin: 0 -15px -3.5em -15px;
    padding: 1.5em 1em 4.5em 1em;
}

.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.form-control[readonly]:focus {
    color: inherit;
    background-color: #fff;
    border: none;
    outline: 0;
    box-shadow: none;
}

.card {
    margin-bottom: 1em;
}

.card-body .list-group-item {
    background: none;
    padding: .5rem 0;
    border: none;
}

.editMode [class*=" bmd-label"],
.editMode [class^=bmd-label] {
    color: #000;
}

.hidden {
    display: none !important;
}


/*** Spinner ***/
.spinner-layer {
    border-color: rgb(var(--primary-color));
}

/*** Date-Picker  ***/
/* Date Display */
.datepicker-date-display {
    background-color: rgb(var(--primary-color));
}

.datepicker-table td.is-today {
    color: rgb(var(--primary-color));
}

.datepicker-table td.is-selected {
    background-color: rgb(var(--primary-color));
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: rgb(var(--primary-color));
}

.timepicker-digital-display {
    background-color: rgb(var(--primary-color));
}

.timepicker-canvas line {
    stroke: rgb(var(--primary-color));
}

.timepicker-canvas-bearing,
.timepicker-canvas-bg{
    fill: rgb(var(--primary-color));
}

.timepicker-close {
    color: rgb(var(--primary-color));
}

/*** Forms ***/
input {
    border-width: 1px;
    border-color: var(--primary);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(var(--primary-color));
    box-shadow: 0 1px 0 0 rgb(var(--primary-color));
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: rgb(var(--primary-color));
}

.input-field .helper-text {
    display: none;
}

.input-field  input:focus + label + .helper-text {
    display: block;
}

input[type=email]:not(.browser-default).invalid ~ .helper-text[data-error] {
    display: block;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border-color: rgb(var(--primary-color));
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: rgb(var(--primary-color));
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right-color: rgb(var(--primary-color));
    border-bottom-color: rgb(var(--primary-color));
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + span:not(.lever):before {
    border-right-color: rgb(var(--primary-color));
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid rgb(var(--primary-color));
    background-color: rgb(var(--primary-color));
}

[type="checkbox"].filled-in.tabbed:checked:focus + span:not(.lever):after {
    background-color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: rgb(var(--primary-color));
}

.select-wrapper input.select-dropdown:focus {
    border-bottom-color: rgb(var(--primary-color));
}

label.bmd-label-floating {
    display: block;
    width: 100%;
    /*text-align: center;*/
}

input[type="number"] {
    height: 2.35em;
}

.custom-file-label::after {
    content: "Auswählen";
}

#editorContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5em;
    background: #fff;
}

.switch label input:checked+.bmd-switch-track:after {
    left: calc(100% - 1.25rem);
    background-color: var(--primary);
}

.switch label .bmd-switch-track {
    background-image: linear-gradient(90deg,rgba(0,0,0,.26) 0,rgba(0,0,0,.26) 50%,#0E6E1A 0,#0E6E1A);
}

/*** DataTables ***/
div#userTable_filter label {
    font-size: 1em;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected,
table.dataTable.stripe tbody>tr.odd.selected,
table.dataTable.stripe tbody>tr.odd>.selected,
table.dataTable.display tbody>tr.odd.selected,
table.dataTable.display tbody>tr.odd>.selected {
    background-color: rgba(var(--primary-color),0.2) !important;
}
table.dataTable.display tbody > tr.even.selected > .sorting_1,
table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td.dtr-control,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th.dtr-control,
table.dataTable.display tbody>tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1 {
    background-color: rgba(var(--primary-color),0.3) !important;
}

.DTE_Field.DTE_Field_Type_text.DTE_Field_Name_birthday {
    display: none;
}

/* -- Fullsize modal --*/
.modal.fade.in {
    left: 50%;
}​

.modal.fullsize {
    padding: 0 !important;
}

.fullsize .modal-dialog.modal-lg {
    margin: 0;
}

.fullsize .modal-content {
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    position: relative;
    animation: animatebottom 0.25s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

.fullsize .modal-content .modal-image-header,
.fullsize .modal-content .modal-header,
.fullsize .modal-content .modal-body,
.fullsize .modal-content .modal-footer {
    width: 100%;
    max-width:800px;
    margin: auto;
    border-radius: 0;
}

.modal-image-header {
    text-align: center;
}
.navbar.modal-nav {
    width: 100vw;
}

.edit-page .navbar {
    margin-bottom: 3em;
}

.edit-page .navbar .container-left ,
.navbar.modal-nav .container-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-page .navbar h3,
.navbar.modal-nav h3 {
    margin: .5em 0;
}

.edit-page .navbar button.close,
.navbar.modal-nav button.close {
    color: #fff;
    opacity: 1;
    margin-right: 1em;
}

.edit-page .navbar button.close:hover,
.navbar.modal-nav button.close:hover {
    cursor: pointer;
}


/* ---------------------------------------------------
    MEDIA STYLE
----------------------------------------------------- */
figure {
    display: block;
    margin: 1em 2em;
}

.avatar {
    display: block;
    margin: 0 auto;
}

/*---------------------------------------------------
    EditorJS
 ---------------------------------------------------*/
.simple-image {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0;
}

.simple-image [contenteditable],
.simple-image input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 0.85em;
}

.simple-image img {
    max-width: 100%;
}

.simple-image figcaption {
    font-size: 0.8em;
}

.codex-editor__redactor:after {
    content: 'Klicke um Inhalt zu erstellen...';
    font-size: 1.25em;
    display: block;
    text-align: center;
    color: #ddd;
}