<!-- template für News mit Overlay Image -->
<div id="<%= article._id.$oid%>" class="card bg-dark text-white fullimage"  onclick="alert('Platzhalter für Modal')">
    <img class="card-img" alt="Card image" src="../../../assets/images/<%= article.newsImg%>" >
    <div class="card-img-overlay align-bottom">
        <h5 class="card-title"><%= article.newsTitle%></h5>
        <footer>
            <p class="card-text">Aktuelles vom <%= new Date(article.createdAt.$date).toDateString()%></p>
        </footer>
    </div>
</div>
