<%- include('./header')%>
        <%- include('../nav/sidebar')%>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

                <div class="branding">
                    <a class="navbar-brand" href="/dashboard">
                        <img src="assets/images/rvss-logo.png" class="img-fluid rounded-circle avatar">
                        <span id="vereinsname">Reitverein Siebenberger Strolche e.V.</span>
                    </a>
                </div>
                <button id="sidebarCollapse" class="navbar-toggler sidebarCollapse" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <%- include('../nav/mainnav')%>

        </nav>